REDIS_URL="redis:6380"
AWS_REGION="elasticmq"
AWS_ACCESS_KEY_ID="x"
AWS_SECRET_ACCESS_KEY="x"
SQS_ENDPOINT="http://sqs:9324"
BACKGROUND_PROCESSING_SQS_QUEUE_URL="http://sqs:9324/000000000000/background-processing"
DELAY_PROCESSING_SQS_QUEUE_URL="http://sqs:9324/000000000000/delay-processing"
SEND_MESSAGING_EVENT_HOST="SEND_MESSAGING_EVENT_HOST"